BINANCE_KEY=""
BINANCE_SECRET=""

BYBIT_KEY=""
BYBIT_SECRET=""

OKX_KEY=""      
OKX_SECRET=""

HYPERLIQUID_KEY=""      
HYPERLIQUID_SECRET=""

PARADEX_KEY=""      
PARADEX_SECRET=""

EXTENDED_KEY=""      
EXTENDED_SECRET=""